/* esse página irá guardar as animações do site */

@keyframes fadeInSuave {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.entrada-fade {
    animation: fadeInSuave 0.6s cubic-bezier(0.16, 1, 0.3, 1) both;
}

/* Delays (atrasos) para criar o efeito cascata (um elemento surge após o outro) */
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.8s; }
.delay-4{ animation-delay: 1s;}
.delay-5{ animation-delay: 1.3s;}
.delay-6{ animation-delay: 1.6s;}
.delay-7{ animation-delay: 1.9s;}
.delay-max{ animation-delay: 3s ;}


@keyframes flutuar {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}

.animar-flutuar {
    animation: flutuar 3s ease-in-out infinite; /* infinite = roda para sempre */
}




@keyframes tremerErro {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-6px); }
    40%, 80% { transform: translateX(6px); }
}

.animar-erro {
    animation: tremerErro 0.4s ease-in-out;
}



@keyframes popIn {
    0% { transform: scale(0.7); opacity: 0; }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); opacity: 1; }
}

.animar-pop {
    animation: popIn 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

/* @keyframes crescer-barra {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.barra-progresso {
    display: block;                  /* Força a barra a se comportar como bloco */
    height: 100%;                    /* Garante que ela ocupe a altura total do fundo */
    transform-origin: left center;    /* Origem do crescimento fixa na esquerda */
    
    /* Aplica a animação com prioridade total */
    animation: crescer-barra 1.4s cubic-bezier(0.1, 1, 0.1, 1) both;
    will-change: transform;          /* Avisa o navegador para otimizar o desempenho */
} */
