
        .escondido{
            display: none;
        }

        h1{
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
            gap: 5px;
        }

        .caixa{
            background-color: rgb(90, 34, 34);
            padding: 20px;
        }

        .proximo{
            cursor: pointer;
            user-select: none;
            border-radius: 100%;
            background-color: gray;
            padding: 5px;
            max-width: 50px;
            margin-left: auto;
        }

        button {
            cursor: pointer;
            border-radius: 100%;
            max-width: 100px;
            margin-left: auto;
            background-color: grey;
            border: none;
            padding: 5px;
        }

        .teste {
            font-size: 1.5em;
            font-weight: bold;
        }

        #label-alimento {
            color: rgb(109, 47, 255);
            text-transform: lowercase;
        }