@import url('https://googleapis.com');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

html{
    background-color: #fff5ea;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.escondido{
    display: none;
    }

h1{
    text-align: center;
    font-family: Oswald,sans-serif;
    font-weight:900;
    font-size: 50px;
    color: #065446;
    text-shadow: 0.5px 0.5px 0.5px rgb(113, 113, 113);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
        }

.caixa{
    background-color: #34D058;
    border-radius: 20px;
    padding: 20px;
}

.proximo{
    cursor: pointer;
    user-select: none;
    border-radius: 100%;
    background-color: gray;
    padding: 5px;
    max-width: 50px;
    margin-left: auto;
}

        button {
            cursor: pointer;
            border-radius: 100%;
            max-width: 100px;
            margin-left: auto;
            background-color: grey;
            border: none;
            padding: 5px;
        }

        .teste {
            font-size: 1.5em;
            font-weight: bold;
        }

        #label-alimento {
            color: rgb(109, 47, 255);
            text-transform: lowercase;
        }