
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis:YEAR@2010&family=Erica+One&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


:root {
    --verde-principal: #0a6f47;
    --verde-texto: #053d27;
    --verde-hover: #0c8153;
    --fundo: #fcf9f2;
    --branco: #ffffff;
    --cinza-borda: #e4e4e4;
    --cinza-texto: #7c7c7c;
    --cinza-escuro: #666666;
    --erro: #bf0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #2e8b57, #165118);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /*não aparecerá barra de rolagem horizontal*/
    overflow-y: auto;
    padding: 2rem 0;
}


.auth-container {
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.auth-card {
    width: 100%;
    max-width: 400px;
    background: var(--branco);
    padding: 2rem 1.5rem;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.auth-card h1 {
    text-align: center;
    font-weight: 500;
    color: var(--verde-principal);
    font-size: 1.8rem;
}

.auth-card h1 a {
    text-decoration: none;
    font-weight: bold;
    color: var(--verde-principal);
}

.auth-card p {
    text-align: center;
    color: var(--cinza-texto);
    font-size: 0.95rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.campo label {
    color: var(--verde-texto);
    font-weight: 600;
    font-size: 0.9rem;
}

.campo input {
    height: 48px;
    width: 100%;
    border: 2px solid var(--cinza-borda);
    border-radius: 12px;
    padding: 0 1rem;
    outline: none;
    transition: 0.3s;
    font-size: 0.95rem;
}

.campo input:focus {
    border-color: var(--verde-principal);
}

button {
    margin-top: 0.6rem;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: var(--verde-principal);
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--verde-hover);
    transform: translateY(-2px);
}

span {
    text-align: center;
    color: var(--cinza-escuro);
    font-size: 0.9rem;
}

span a {
    color: var(--verde-principal);
    text-decoration: none;
    font-weight: 700;
}

span a:hover {
    text-decoration: underline;
}

#msg-erro {
    color: var(--erro);
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.1rem;
}

.requisitos-senha {
    padding: 0.6rem 0.3rem;
    color: var(--verde-texto);
    font-weight: 500;
    font-size: 0.8rem;
}

.requisitos-senha p {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.requisitos-senha ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


@media (min-width: 768px) {
    body {
        padding: 0;
    }

    .auth-card {
        padding: 2.5rem;
    }
}