
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Climate+Crisis:YEAR@2010&family=Erica+One&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --verde-principal: #0a6f47;
    --verde-texto: #053d27;
    --fundo-site: #fcf9f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    /*essa propriedade permite que ao clicar em links
     para navegar em uma mesma página
    a navegação seja suave*/
}

body {
    background: #f9f8f6;
}

/*animação especial da página inicial*/

@keyframes entrada-scroll {
    from {
        opacity: 0;
        scale: 0.5;
    }
}


.climate-crisis {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;      /*permite com que fonts do google 
                                    sejam melhoradas dependendo das telas*/
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 2000; /*configuração especial da 
                                            fonte do google*/
}








.nav-bar-i {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    background: #fefff7;
    border-bottom: 2px solid #ffaf2546;
    position: relative;
    z-index: 4;
    flex-wrap: wrap; /*quebra os conteúdos do flex caso não caiba na tela*/
}

.nav-bar-i a {
    color: #faa106;
    font-weight: 700;
    text-decoration: underline;
    padding: 0.7rem 1rem; /* topo+baixo esquerda+direita*/
    border-radius: 50px;
    animation-delay: 0.8s;
    font-size: 0.9rem;
}

.nav-bar-i a:hover {
    background: #fff4d8;
}



/*a partir daqui teremos o conteúdo principal*/
.dados-inicio {
    min-height: 90vh;
    background: linear-gradient(135deg, #fffbe9, #fffcf0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem 1.5rem;
}

.textolat {
    max-width: 600px;
}

.titulo-i h3 {
    line-height: 1.2;
    font-weight: 600;
    color: var(--verde-texto);
    font-size: 1.3rem;
}

.nome-site {
    animation-delay: 1s;
    font-size: 2.5rem;
}

.descricao {
    margin-top: 1rem;
    color: #777;
    line-height: 1.3;
    font-size: 0.95rem;
    animation-delay: 1.2s;
}

.botoes-i {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap; /*irá quebrar em telas menores*/
    width: 100%;
    animation-delay: 1.5s;
}

.botoes-i a {
    min-width: 140px;
    padding: 0.9rem 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

.btn-login {
    border: 2px solid #96781f;
    background: #fffaea;
    color: #96781f;
}

.btn-cadastro {
    border: 2px solid #246d2e;
    background: #f0f9ee;
    color: #246d2e;
}

.btn-login:hover {
    background-color: #d27c03;
    color: #fff;
}

.btn-cadastro:hover {
    background-color: #388e3c;
    color: #fff;
}

.imagem-lat { /*esconde a imagem lateral em mobile*/
    display: none;
}




.resumo {
    padding: 4rem 1.5rem;
    background: #6ba058;
    margin: 10px;
    border-radius: 40px;
    box-shadow: inset 0 12px 10px rgba(17, 17, 17, 0.24), 
                      0 12px 10px rgba(17, 17, 17, 0.24);
    scroll-margin-top: 15rem; /*essa margem vai permitir que ao clicar no link o conteudo seja centralizado*/

    animation: entrada-scroll;
    animation-timeline: view(); /*a animação começa quando o elemento entrar na tela*/

    animation-range: entry 0% cover 50%; /*o elemento aparece inteiramente na tela 
                                        quando estiver em 50% da tela*/
}

.resumo h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.lista-fun {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr; 
}

.fun {
    background: #fff;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.fun:hover {
    transform: translateY(-6px);
}

.fun h3 {
    color: var(--verde-principal);
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

.fun p {
    line-height: 1.7;
    color: #666;
    font-size: 0.95rem;
}

/* apresentação da equipe */
.equipe {
    padding: 4rem 1.5rem;
    text-align: center;
    animation: entrada-scroll;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.equipe h2 {
    color: var(--verde-texto);
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.equipe p {
    color: #777;
    margin-bottom: 2rem;
    font-size: 0.95rem;
}

.equipe h3 {
    color: var(--verde-principal);
    margin-bottom: 2rem;
}

.fotos-part {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 330px;
    margin: 0 auto;
}

.integrante {
    background: #fff;
    padding: 0.5rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    max-width: 280px;
    margin: 0 auto;
}

.integrante img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
}

.integrante p {
    margin-top: 1rem;
    font-weight: 700;
    color: var(--verde-texto);
}


@media (min-width: 768px) {
    .nav-bar-i a {
        font-size: 1rem;
    }

    .lista-fun {
        grid-template-columns: repeat(2, 1fr);
    }

    .fotos-part {
        grid-template-columns: repeat(2, 280px); /*duas colunas, cada com 280px*/
    }
}


@media (min-width: 992px) {
    .dados-inicio {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        padding: 0;
        background-color: var(--fundo-site);
        animation-delay: 4s;
    }

    .textolat {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
        color: #053d27;
        line-height: 15px;
    }

    .txt-bv {
        font-size: 25px;
        text-align: center;
        animation-delay: 4s;
        transition: 1s;
    }

    .titulo-i .nome-site {
        font-size: 50px;
        margin: 0;
        animation-delay: 1.1s;
    }

    /* imagem lateral que no mobile está escondida */
    .imagem-lat {
            display: block;
            position: relative;
            width: 780px;
            height: 720px;
    }

    .fundo {
        position: absolute;
        width: 110%;
        left: -10%;
        top: -20%;
        animation: fadeInSuave 1s cubic-bezier(0.16,1,0.3,1) both,
            flutuar 2s ease-in-out infinite;
        animation-delay: .5s;
        z-index:1;
    }

    .tigela {
        position:absolute;
         width:54%;
         left:15%;
         top:20%;
         z-index:2;
        animation: fadeInSuave 1s both, flutuar2 3s infinite;
        animation-delay: 1s;
        filter: drop-shadow(10px 15px 3px rgba(0, 0, 0, 0.2)); /*filtro para colocar sombra em imagem*/
    }

    .lupa {
        position:absolute;
        width:25%;
        left:55%;
        top:40%;
        z-index:3;
        animation: popIn 1s both, lupa-girar 3s infinite;
        animation-delay: 1.1s;
        filter: drop-shadow(10px 15px 3px rgba(0, 0, 0, 0.2));
    }

    .botoes-i .btn-login,
    .botoes-i .btn-cadastro {
        animation-delay: 1s;
    }


    .resumo h2 {
        font-size: 2rem;
    }

    .lista-fun {
        grid-template-columns: repeat(3, 320px); /*3 colunas com 320px*/
        justify-content: center;
    }

    .equipe {
        background: #fcf9f2;
        padding: 100px 60px;
    }

    .equipe h2 {
        font-size: 42px;
        margin-bottom: 15px;
    }

    .equipe > p {
        margin-bottom: 40px;
    }

    .equipe h3 {
        margin-bottom: 30px;
    }

    .fotos-part {
        grid-template-columns: repeat(4, 250px);
        gap: 30px;
        flex-wrap: wrap;
    }

    .integrante {
        width: 250px;
        padding: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
    }

    .integrante img {
        width: 200px;
        height: 220px;
        border-radius: 10px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
    }

    .integrante p {
        margin-top: 20px;
        font-weight: 600;
    }
}