{%extends 'base.html'%} {%block title%}Tabela{%endblock%} {% block content%}
{%block links%}
<link rel="stylesheet" href="style.css">
{%endblock%}
<html>
  <head></head>
  <body>
  <h1 id="titulo-tabela">Tabela de alimentos</h1>
  <div class="container-tabela">
    <table class="tabela-alimentos">
      <!--cabeçalho-->
      
      <tr>
        {% for coluna in colunas %}
           <th>{{ coluna}}</th>
        {% endfor %}
      </tr>
      
      <!--dados-->

      {% for linha in dados %}
        <tr>
           {% for valor in linha %}
               <td>{{valor}}</td>
           {% endfor %}
        </tr>
      {% endfor %}

    </table>
  </div>
  </body>
</html>
{%endblock%}
