<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TrocaPrato{% endblock %}</title>
    
    {% block links %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anima-trans.css')}}">
    {% block script %}{% endblock %}
</head>
<body>
    <!-- Cabeçalho e navbar para todo o site -->
    <header class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='/img/logotp.png') }}" alt="logo" width="280" height="200">
        </div>
        

        <ul>
            <li><a href="{{ url_for('index') }}">Conversor</a></li>
            <li class="menu-divisor">|</li>
            <li><a href="{{ url_for('exibir_favoritos') }}">Favoritos</a></li>            
            <li class="menu-divisor">|</li>
            <li><a href="{{ url_for('tabela') }}">Tabela</a></li>
            <li class="menu-divisor">|</li>
            <li><a href="{{ url_for('perfil') }}">Perfil</a></li>
        </ul>
    </header>

    <!-- Conteúdo das páginas -->
    <main>

        <div class="mensagens-flash">{% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alerta-flash">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block content %}{% endblock %}
    </main>
    <footer class="footer">

        

        <div class="footer-container">

            <div class="footer-info">

                <h2>Troca Prato</h2>

                <p>
                    O jeito mais simples de variar sua alimentação.
                </p>
            </div>

            <div class="footer-col">
                <h3>Integrantes</h3>

                <p>Ana Laura E.</p>
                <p>Anna Júlia F.</p>
                <p>Daniele M.</p>
                <p>Gabriel do Monte</p>
            </div>

            <div class="footer-col">
                <h3>Projeto</h3>

                <a href="https://github.com/gabriel-domonte/TrocaPrato/tree/main" target="_blank">GitHub</a>
                <a href="https://github.com/gabriel-domonte/TrocaPrato/tree/main">Documentação</a>
                <a href="#">Contato</a>
            </div>

        </div>

        <div class="footer-bottom">
            © 2026 Troca Prato • Projeto Acadêmico
        </div>

    </footer>


</body>
</html>