<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TrocaPrato</h1>
    <h2>Varie sua dieta</h2>
    <p>TrocaPrato é uma ferramenta criada para reduzir a monotonia alimentar na dieta de pessoas que fazem acompanhamento nutricional. Os usuários podem indicar um alimento para ser substituído e sua respectiva substituição. A ferramenta compara os macronutrientes de ambos os alimentos e informa quantos gramas do alimento alternativo podem ser consumidos para que o usuário se mantenha na sua meta de calorias.</p>
    <a href="/login">Fazer login</a>
    <a href="/cadastro">Cadastre-se</a>
</body>
</html>