{%extends 'base.html'%} {%block title%}Perfil{%endblock%} 
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

{% block content%}
<main class="perfil-page">
  <section class="perfil-header entrada-fade delay-1">
    <h1>Perfil</h1>
    <p>Gerencie sua sessão no TrocaPrato.</p>
  </section>

  <section class="perfil-card entrada-fade delay-2>
    <div class="perfil-icon entrada-fade delay-3">👤</div>
    <div class="entrada-fade delay-4">
    <h2>Olá!</h2>

    <p>
      Você está utilizando sua conta para acessar seus favoritos e comparações
      nutricionais.
    </p>
    </div>
    <div class="button-logout entrada-fade delay-5"><a href="/logout">Sair da conta</a></div>
    
  </section>

  <section class="mensagens-perfil entrada-fade delay-6">
    <div class="card-mensagem entrada-fade delay-7">
      <h3>🌱 Continue evoluindo</h3>

      <p>
        Pequenas escolhas saudáveis feitas diariamente podem gerar grandes
        resultados ao longo do tempo.
      </p>
    </div>

    <div class="card-mensagem entrada-fade delay-7">
      <h3>💡 Dica rápida</h3>

      <p>
        Salve seus alimentos favoritos para acessá-los rapidamente sempre que
        precisar.
      </p>
    </div>
  </section>
</main>

{%endblock%}
